h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}
.main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
}

.container > h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
hr {
    margin: 0 auto;
    width: 50%; 
}
.sec-about a {
    text-decoration: underline;
    color: #000;
}

    .sec-about a:hover,
    .sec-about a:focus {
        color: #ad0000;
    }

.sec-services h2,
.sec-services p {
    font-weight: 300;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
.sec-about p {
    text-align: center;
}
.sec-services {
    background: #f9f9f9;
}

    .sec-services i {
        display: block;
        margin: auto;
        width: 45px;
    }

    .sec-services .fa-paint-brush {
        width: 64px;
    }

    .sec-services .fa-code {
        width: 68px;
    }
    .sec-services h2 {
        margin: 1em 0;
    }
.sec-testimonials {
    background: #f9f9f9;
}

    .sec-testimonials p {
        font-style: italic;
    }

.sec-contact .form-control:focus {
    border-color: #ad0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
    padding: .5rem 1.75rem;
    background: #000;
    font-size: .95rem;
    color: #fff;
    transition: all .25s;
    text-transform: uppercase;
}

    .sec-contact .btn:hover,
    .sec-contact .btn:focus {
        background: #ad0000;
        border-color: #910000;
    }

    .soc-media-ul li:not(:first-child) a {
        margin-left: 1em;
    }

    .soc-media-ul a {
        display: block;
        padding: 0.5em .65rem;
        font-size: 1rem;
        color: #fff;
        border-radius: 50%;
        border: 2px solid;
        text-align: center;
        text-decoration: none;
    }

section {
    padding: 5em 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
hr {
    margin-bottom: 3em;
    width: 7%;
}

form {
    max-width: 100%;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
    form {
        max-width: 70%;
    }
}
.sec-folio .row {
    margin-bottom: 3em;
}
.sec-folio img {
    max-width: 100%;
}
.sec-main {
    position: relative;
    height: 560px;
    background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
    background-size: cover;
}

    .sec-main::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .50);
    }

.sec-contact .form-control {
    border-radius: 8px;
    box-shadow: none;
    transition: border-color 0.2s;
    margin-bottom: 2rem;
}

    .sec-contact .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.5rem rgba(0,123,255,.25);
    }
