html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #fff;
}

.blazor-loading-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #222 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99999 !important;
    color: #FFF !important;
    transition: opacity 0.3s ease-out !important;
}

    .blazor-loading-overlay.fade-out {
        opacity: 0 !important;
        pointer-events: none !important;
    }

.loading-container {
    text-align: center;
}

.loading-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #FFF;
}

.loader {
    width: 106px;
    height: 56px;
    display: block;
    margin: 30px auto;
    background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), radial-gradient(circle 14px, #FFF 100%, transparent 0);
    background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
    box-sizing: border-box;
    background-color: transparent;
    animation: pulse 2s ease-in-out infinite;
}

    .loader::after,
    .loader::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        border: 6px solid #FFF;
        border-radius: 50%;
        left: -45px;
        top: -10px;
        background-repeat: no-repeat;
        background-image: linear-gradient(#FFF 64px, transparent 0), linear-gradient(#FFF 66px, transparent 0), radial-gradient(circle 4px, #FFF 100%, transparent 0);
        background-size: 40px 1px, 1px 40px, 8px 8px;
        background-position: center center;
        box-sizing: border-box;
        animation: rotation 0.8s linear infinite;
    }

    .loader::before {
        left: 25px;
        top: 60px;
        animation-delay: 0.4s;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.sec-contact .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.5rem rgba(0,123,255,.25);
}

.sec-contact .form-control {
    border-radius: 10px;
    box-shadow: none;
    transition: border-color 0.2s;
    margin-bottom: 2rem;
}

.sec-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .50);
}

.sec-main {
    position: relative;
    height: 560px;
    background-size: cover;
}

.main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
}

.container > h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

hr {
    margin: 0 auto;
    width: 50%;
}

.sec-services {
    background: #f9f9f9;
}

    .sec-services i {
        display: block;
        margin: auto;
        width: 45px;
    }

p {
    font-size: 16px;
    line-height: 1.5;
}

.sec-contact .form-control:focus {
    border-color: #ad0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
    padding: .5rem 1.75rem;
    background: #000;
    font-size: .95rem;
    color: #fff;
    transition: all .25s;
    text-transform: uppercase;
}

section {
    padding: 5em 0;
}

.sec-about a {
    text-decoration: underline;
    color: #000;
}

hr {
    margin-bottom: 3em;
    width: 50%;
}

.containerAbout {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-text-container {
    text-align: center;
}

.main-text h2 {
    color: #0056b3;
    margin-bottom: 15px;
}

.main-text p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .grid-item h1 {
        color: black;
        margin-bottom: 10px;
    }

    .grid-item p {
        font-size: 1rem;
        color: #555;
    }

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.loaderData {
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

    .loaderData::before {
        content: '';
        left: 60px;
        bottom: 18px;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #FF3D00;
        background-image: radial-gradient(circle 8px at 18px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #FFF 100%, transparent 0);
        background-repeat: no-repeat;
        box-sizing: border-box;
        animation: rotationBack 3s linear infinite;
    }

    .loaderData::after {
        content: '';
        left: 94px;
        bottom: 15px;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #FF3D00;
        background-image: radial-gradient(circle 5px at 12px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #FFF 100%, transparent 0);
        background-repeat: no-repeat;
        box-sizing: border-box;
        animation: rotationBack 4s linear infinite reverse;
    }

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
